{% extends 'layouts.master' %}
{% block pagetitle %}
    Create Post
{% endblock %}
{% block content %}
{% if old('errors') %}
  <div class="alert alert-danger">
    {% for error in old('errors') %}
      <li> {{ error.message }} </li>
    {% endfor %}
  </div>
{% endif %}
{{ form.open({url: '/post/store'}) }}

{{ csrfField }}

<fieldset class="form-group">
    {{ form.label('Title') }}
    {{ form.text('title',null,{ class:'form-control' }) }}
</fieldset>

<fieldset class="form-group">
    {{ form.label('Description') }}
    {{ form.text('content',null,{ class:'form-control' }) }}
</fieldset>

{{ form.submit('Publish', 'publish', { class:'btn btn-primary btn-block' }) }}

{{ form.close() }}
{% endblock %}