{% extends 'layouts.master' %}
{% block pagetitle %}
    Home
{% endblock %}
{% block content %}
<a class="btn btn-success" href="/post/create">Create Post</a>
    {% for post in posts %}
        <h2><a href="/post/show/{{ post.id }}">{{ post.title }}</a></h2>
            <p>
                {{ post.content }}
            </p>
    <hr>
    {% else %}
  <h2> No posts found </h2>
{% endfor %}
{% endblock %}